body {
    background-color: #D7D7D7;
    margin-bottom: 200px;
}
.moveable {
    margin: 1px 1px 1px 1px;
    float:left;
    background:#AEAEAE;
    overflow:hidden;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
}

#pad{
    width:48%;
    height:700px;
}
#pad-inner{
	width:100%;
	height:100%;
}
#viewer{
    width:48%;
    height:700px;
}

#pad-iframe{
    border: 0px;
}

#footer {
    color: #F6F6F6;
    text-align: center;
    padding: 0.5em 0px 0.4em;
    font-size: 0.8em;
    font-weight: 400;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #414141;
}

#footer > a {
	margin-right: 10px;
}
.infos {
	clear:both;
}

.warning {
    color: red;
}