.moveable {
    margin: 1px 1px 1px 1px;
    float:left;
    background:#FFFFFF;
    overflow:hidden;
    border: 1px solid black;
}

#pad{
    width:48%;
    height:700px;
}
#viewer{
    width:48%;
    height:700px;
}
